* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 5px 20px 15px lightgrey;
}

.hero {
  position: relative;
  width: 400px;
  border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -ms-border-radius: 16px 16px 0 0;
  -o-border-radius: 16px 16px 0 0;
} 

.cardTitle {
  background: none;
  margin-top: 32px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.cardContent {
  background: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  padding: 16px 32px 16px 32px;
  color: hsl(224, 23%, 53%);
}

.plan{
  position: relative;
  background: hsl(225, 100%, 98%);
  width: 336px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 24px;
}

section {
  display: flex;
  align-items: center;
}

.info {
  display: flexbox;
  margin-left: 24px;
  align-content: center;
  font-size: 16px;
}

.duration {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.pricing {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 53%);
}

.change {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  margin-left: auto;
}

.change:active {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  margin-left: auto;
  color: hsl(223, 47%, 55%);
}

.payment {
  background: hsl(245, 75%, 52%);
  width: 336px;
  height: 45px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  border: none;
  margin-top: 24px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 5px 20px 15px lightgrey;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: hsl(225, 100%, 98%);
}

.payment:active {
  background: hsl(223, 47%, 55%);
  color: hsl(225, 100%, 94%);
}

.cancel {
  position: absolute;
  text-decoration: none;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  margin-top: 24px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  color: hsl(224, 23%, 53%);
}

.cancel:active {
  color: hsl(223, 47%, 23%);
}

.attribution {
  position: absolute;
  font-size: 11px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 98vh;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}